<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="template.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine&display=swap" rel="stylesheet">
</head>

<!-- Remove Public in HREF !-->

<body>
    <nav>
        <label class="logo"><text id="logoFirstHalf">Bubble</text><text id="logoSecondHalf">Booms</text></label>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <section>

    </section>


</body>

</html>