<link rel="stylesheet" type="text/css" href="/css/navbar.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine&display=swap" rel="stylesheet">

<nav>
    <div id = "navLogoContainer">
        <img src = "../images/logo.png" id = "navLogo">
    </div>
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/products">Product</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>