<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" type="text/css" href="../css/about.css">
         <link rel="icon" href="/images/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine&display=swap" rel="stylesheet">
    </head>

    <!-- Remove Public in HREF !-->

    <body>
        <nav>
            <label class = "logo"><text id = "logoFirstHalf">Bubble</text><text id = "logoSecondHalf">Booms</text></label>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/products">Product</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        
        <section>
            <div id = "mainContainer">
                <div id = "information">
                    <label class="pageTitle">About Us</label>
                    <span id = "logoAboutTitle">BubbleBooms</span>
                    <span id = "aboutInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra eleifend nisl, a pellentesque massa viverra at.
                    Vestibulum mattis augue ac magna porttitor, sed dictum neque posuere. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Mauris egestas tellus pellentesque ex tincidunt, vitae volutpat odio
                    tincidunt. Quisque efficitur posuere ligula, eu faucibus elit fringilla a. Mauris consequat semper lacus, venenatis
                    consectetur nisl pulvinar quis. Duis ornare dui a elit interdum volutpat. Sed porttitor id tellus eget malesuada. Aenean
                    nulla est, rhoncus sed tempor id, aliquet in mi. Duis gravida orci at scelerisque sollicitudin. Maecenas libero lectus,
                    lobortis vel purus sed, mollis feugiat mi. Sed lacinia et magna sed luctus.
                </div>

                <div id = "photo">
                    <img src = "../images/sample.jpg" id = "aboutImage">
                </div>
            </div>

            <div id = "founderMainContainer">
                <div id = founderTitleContainer>
                    <label class="pageTitle">Founders</label>
                </div>
                <div id="founderContainerFirstHalf">
                    <div class="founderItemContainer">
                        <img src="../images/sample.jpg" class="founderImages">
                        <span class="founderName">Example Name</span>
                        <span class="founderInfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium modi ducimus
                            consequatur, at repudiandae harum magni dolore totam eveniet qui cumque dicta dignissimos aut culpa
                            reprehenderit deleniti alias autem ut?</span>
                    </div>
                
                    <div class="founderItemContainer">
                        <img src="../images/sample.jpg" class="founderImages">
                        <span class="founderName">Example Name</span>
                        <span class="founderInfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium modi ducimus
                            consequatur, at repudiandae harum magni dolore totam eveniet qui cumque dicta dignissimos aut culpa
                            reprehenderit deleniti alias autem ut?</span>
                    </div>
                
                    <div class="founderItemContainer">
                        <img src="../images/sample.jpg" class="founderImages">
                        <span class="founderName">Example Name</span>
                        <span class="founderInfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium modi ducimus
                            consequatur, at repudiandae harum magni dolore totam eveniet qui cumque dicta dignissimos aut culpa
                            reprehenderit deleniti alias autem ut?</span>
                    </div>
                
                </div>
                
                <div id="founderContainerSecondHalf">
                    <div class="founderItemContainer">
                        <img src="../images/sample.jpg" class="founderImages">
                        <span class="founderName">Example Name</span>
                        <span class="founderInfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium modi ducimus
                            consequatur, at repudiandae harum magni dolore totam eveniet qui cumque dicta dignissimos aut culpa
                            reprehenderit deleniti alias autem ut?</span>
                    </div>
                
                    <div class="founderItemContainer">
                        <img src="../images/sample.jpg" class="founderImages">
                        <span class="founderName">Example Name</span>
                        <span class="founderInfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium modi ducimus
                            consequatur, at repudiandae harum magni dolore totam eveniet qui cumque dicta dignissimos aut culpa
                            reprehenderit deleniti alias autem ut?</span>
                    </div>
                
                
                </div>
            </div>
            

            
        </section>
        
        <footer>
            <hr id="footerLine">
            <div id="footerContainer">
                <div id="footerLogo">
                    <label class="logo"><text id="logoFirstHalf">Bubble</text><text id="logoSecondHalf">Booms</text></label>
                    <label id="footerLogoText">© BubbleBooms. All Rights Reserved 2022.</label>
                </div>
        
                <div id="links">
                    <span id="linksTitle">Link</span>
                    <a href="/">Home</a>
                    <a href="/products">Product</a>
                    <a href="/about">About</a>
        
                </div>
        
                <div id="social">
                    <span id="linksTitle">Find us here</span>
                    <div id="socialLogos">
                        <a href="https://www.facebook.com/BubbleBooms.Official/"><img src="../images/facebook-logo2.png"
                                style="object-fit: contain; height: 30px;"></a>
                        <a href="https://www.instagram.com/bubblebooms.ph/"><img src="../images/instagram-logo.png"
                                style="object-fit: contain; height: 30px;"></a>
                        <a href="https://www.shopee.ph/bubblebooms.ph"><img src="../images/shopee-logo.png"
                                style="object-fit: contain; height: 30px;"></a>
                        <a href="https://www.lazada.com.ph/shop/bubblebooms-ph/"><img src="../images/lazada-logo.png"
                                style="object-fit: contain; height: 30px;"></a>
                    </div>
        
                </div>
            </div>
        </footer>

    </body>
</html>