<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" type="text/css" href="../css/about.css">
         <link rel="icon" href="/images/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine&display=swap" rel="stylesheet">
    </head>

    <!-- Remove Public in HREF !-->

    <body>
        {{> navbar}}
        
        <section>
            <div id = "mainContainer">
                <div id = "information">
                    <label class="pageTitle">About Us</label>
                    <span id = "logoAboutTitle">BubbleBooms</span>
                    <span id = "aboutInfo">We are Bubble Booms Corporation! When bubbles are mentioned, we can't help recalling the fantasy memories and beautiful scenes from our childhood. As for children, bubbles can make them happy and become one of their fantastic memories. That is why we hope our products can convey the brand value and product advantages through Bubbles, and help children grow up happily and unique. “Booms” directly describes the characteristics of the popping bubbles, “Booms” is just the onomatopoeia of explosion, so we decided to use “Booms” as an integral part of the brand name because it can better help the business convey the product characteristics. Our products include ready-made milk tea hand soap and artistic hand soap, both of which have their own potential customers. No matter the ready-made milk tea hand soap or the artistic hand soap, it is intended to provide a different and high-quality option for those who demand a higher standard of quality of life and hygiene.
Our members are undergraduate students from De La Salle University who are currently taking up Bachelor of Science in Entrepreneurship. In order to fulfill our graduation requirements and to develop our entrepreneurial spirit, we hope that this business will gain your support and love.
                </div>

                <div id = "photo">
                    <img src = "../images/logo.png" id = "aboutImage">
                </div>
            </div>

            <div id = "founderMainContainer">
                <div id = "founderTitleContainer">
                    <label class="pageTitle" id = "founderTitlePage">Founders</label>
                </div>
                <div id="founderContainerFirstHalf">
                    <div class="founderItemContainer">
                        <img src="../images/sample.jpg" class="founderImages">
                        <span class="founderName">Kate Jervisse Lin</span>
                        <span class="founderInfo">Kate is a entrepreneur student who has a great passion in establishing her own business. During her vacant time, she also helps her family business. As an entrepreneur student, my goal is to have my own business. She also believes in the opportunity of Bubble Booms in the hand soap industry with unique selling proposition for children and mothers
</span>
                    </div>
                
                    <div class="founderItemContainer">
                        <img src="../images/sample.jpg" class="founderImages">
                        <span class="founderName">Lucio Chen</span>
                        <span class="founderInfo">Lucio is a passionate Entrepreneur who has lived in an industrial area and surrounded by commercial edification since birth. He has the passion in building its own business empire and dreaming to become a business tycoon in the future. He only believes in himself that the success will only be achieved by his bare hands and wisdom, it won't come from other factors. Never give up and no fear are his motto in dealing with life.</span>
                    </div>
                
                    <div class="founderItemContainer">
                        <img src="../images/sample.jpg" class="founderImages">
                        <span class="founderName">Ynchie Co</span>
                        <span class="founderInfo">Ynchie is an aspiring entrepreneur who has the passion to build her own business and she believes that opportunity is everywhere. During her vacant, she helps her relative's business. In the future, Ynchie is devoted to establishing her own business that she loved and becoming a successful entrepreneur.</span>
                    </div>
                
                </div>
                
                <div id="founderContainerSecondHalf">
                    <div class="founderItemContainer">
                        <img src="../images/sample.jpg" class="founderImages">
                        <span class="founderName">Christopher Ding</span>
                        <span class="founderInfo">I am a person who likes traveling. I hope to travel around the world when I earn enough money. However, I still have a long way to go. As a potential entrepreneur, I hope to set up and run a fast-food chain in the future, because I hope to provide fast, delicious, and healthy food for people or society.</span>
                    </div>
                
                    <div class="founderItemContainer">
                        <img src="../images/sample.jpg" class="founderImages">
                        <span class="founderName">Mary Ann Li</span>
                        <span class="founderInfo">My goals in life are to travel to as many places or countries as I can and live a happy and meaningful life while doing the things I love and am passionate about. As an Entrepreneurship student, I hope to incorporate things that I am passionate about into my own business. My mottos in life are: "Don't set yourself on fire to keep others warm." and "Have courage, and be kind.".</span>
                    </div>
                
                
                </div>
            </div>
            

            
        </section>
        
        {{> footer}}

    </body>
</html>