<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine&display=swap" rel="stylesheet">
</head>

<body>
    {{> navbar}}

    <section>
        <div id = "homeContainer">
            <!--
            <div id = "logoContainer">
                <img src = "../images/logo.png" id = "logoPicture">
                <img src = "../images/homeSelfCarepng.png" id = "selfCarePicture">
            </div>
            -->
            <a href = "https://www.lazada.com.ph/shop/bubblebooms-ph/"><img src = "../images/homePicture1.jpg" id = "homePicture"></a>
        </div>

        <div id = "featureProductContainer">
            
            <div id = "topFeatureProductContainer">
                <label id="featureTitle">Featured Products</label>
            </div>


            <div id="productPhotoContainer">
                <div class="productContainer">
                    <img src="../images/BlushBubble.jpg" class="productPhoto" id = "blushBubble" onclick = "openModal();getPicture(this);changePhoto()">
                    <div class="productInfoContainer">
                        <label class="productName">Blush Bubble</label>
                        <label class="productPrice">P149</label>
                        <label class="aboutProduct">It is strawberry ice cream scented and a milk tea inspired hand soap that has cute designs of a straw and pearls!</label>
                    </div>
                </div>
            
                <div class="productContainer">
                    <img src="../images/CitrusFoam.jpg" class="productPhoto" id = "citrusFoam" onclick = "openModal();getPicture(this);changePhoto()" >
                    <div class="productInfoContainer">
                        <label class="productName">Citrus Foam</label>
                        <label class="productPrice">P149</label>
                        <label class="aboutProduct">It is green tea scented and a milk tea inspired hand soap. It was even purposely made to have a look of a Honey Dew milk
                        tea to be more appealing!</label>
                    </div>
                </div>
            
                <div class="productContainer">
                    <img src="../images/Cuppa Java.jpg" class="productPhoto" id = "cuppaJava" onclick = "openModal();getPicture(this);changePhoto()">
                    <div class="productInfoContainer">
                        <label class="productName">Cuppa Java</label>
                        <label class="productPrice">P149</label>
                        <label class="aboutProduct">It is coffee scented and a milk tea inspired hand soap that can surely satisfy the nose of a coffee lover!</label>
                    </div>
                </div>

        </div>


    </section>

    {{> footer}}

</body>

</html>