<!DOCTYPE html>
<html>

<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="products.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine&display=swap" rel="stylesheet">
</head>

<!-- Remove Public in HREF !-->

<body>
    <nav>
        <label class="logo"><text id="logoFirstHalf">Bubble</text><text id="logoSecondHalf">Booms</text></label>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <section>
        <div id = "topContainer">
            <label id="topTitle">Our Products</label>
        </div>
        
        <div id = "seasonSelectContainer">
            <a href = "#" class = "seasonText">Season</a>
            <a href = "#" class = "seasonText">Season</a>
            <a href = "#" class = "seasonText">Season</a>
            <a href = "#" class = "seasonText">Season</a>
        </div>
        
        <div id = "productPhotoContainer">
            <div class = "productContainer">
                <img src="../images/randomfood.jpg" class="productPhoto">
                <div class = "productInfoContainer">
                    <label class="productName">Sample Name</label>
                    <label class="productPrice">P1000</label>
                    <a href = "#" class = "preview"><img src="../images/playbutton.png" class="productPlay">
                        <span class = "playText">Preview</span></a>
                </div>
            </div>

            <div class="productContainer">
                <img src="../images/randomfood.jpg" class="productPhoto">
                <div class="productInfoContainer">
                    <label class="productName">Sample Name</label>
                    <label class="productPrice">P1000</label>
                    <a href="#" class="preview"><img src="../images/playbutton.png" class="productPlay">
                        <span class="playText">Preview</span></a>
                </div>
            </div>

            <div class="productContainer">
                <img src="../images/randomfood.jpg" class="productPhoto">
                <div class="productInfoContainer">
                    <label class="productName">Sample Name</label>
                    <label class="productPrice">P1000</label>
                    <a href="#" class="preview"><img src="../images/playbutton.png" class="productPlay">
                        <span class="playText">Preview</span></a>
                </div>
            </div>

            <div class="productContainer">
                <img src="../images/randomfood.jpg" class="productPhoto">
                <div class="productInfoContainer">
                    <label class="productName">Sample Name</label>
                    <label class="productPrice">P1000</label>
                    <a href="#" class="preview"><img src="../images/playbutton.png" class="productPlay">
                        <span class="playText">Preview</span></a>
                </div>
            </div>
         </div>

    </section>


</body>

</html>