<!DOCTYPE html>
<html>

<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="../css/products.css">
     <link rel="icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine&display=swap" rel="stylesheet">
</head>

<!-- Remove Public in HREF !-->

<body>
    {{> navbar}}

    <section>
        <div id = "imageViewer" class = "modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

                <div class="mySlides">
                    <div class="numbertext">1 / 2</div>
                    <img id = "imageViewOne" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 2</div>
                    <img id="imageViewTwo" style="width:100%">
                </div>

                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                
            </div>
        </div>

        </div>

        <div id = "topContainer">
            <label id="topTitle">Our Products</label>
        </div>
        
        <div id = "MilkTeaContainer">
            <div id="seasonLeftContainer">
                <span class="seasonText">Milk Tea</a>
            </div>
            
            <div id="productPhotoContainer">
                <div class="productContainer">
                    <img src="../images/BlushBubble.jpg" class="productPhoto" id = "blushBubble" onclick = "openModal();getPicture(this);changePhoto()">
                    <div class="productInfoContainer">
                        <label class="productName">Blush Bubble</label>
                        <label class="productPrice">P149</label>
                        <label class="aboutProduct">It is strawberry ice cream scented and a milk tea inspired hand soap that has cute designs of a straw and pearls!</label>
                    </div>
                </div>
            
                <div class="productContainer">
                    <img src="../images/CitrusFoam.jpg" class="productPhoto" id = "citrusFoam" onclick = "openModal();getPicture(this);changePhoto()" >
                    <div class="productInfoContainer">
                        <label class="productName">Citrus Foam</label>
                        <label class="productPrice">P149</label>
                        <label class="aboutProduct">It is green tea scented and a milk tea inspired hand soap. It was even purposely made to have a look of a Honey Dew milk
                        tea to be more appealing!</label>
                    </div>
                </div>
            
                <div class="productContainer">
                    <img src="../images/Cuppa Java.jpg" class="productPhoto" id = "cuppaJava" onclick = "openModal();getPicture(this);changePhoto()">
                    <div class="productInfoContainer">
                        <label class="productName">Cuppa Java</label>
                        <label class="productPrice">P149</label>
                        <label class="aboutProduct">It is coffee scented and a milk tea inspired hand soap that can surely satisfy the nose of a coffee lover!</label>
                    </div>
                </div>

            </div>
        </div>

        <div id="ArtisticContainer">
            <div id="seasonRightContainer">
                <span class="seasonText">Artistic</a>
            </div>
        
            <div id="productPhotoContainer">
                <div class="productContainer">
                    <img src="../images/Artistic 1.jpg" class="productPhoto" id = "artistic1" onclick = "openModal();getPicture(this);changePhoto()">
                    <div class="productInfoContainer">
                        <label class="productName">Artistic 1</label>
                        <label class="productPrice">P1000</label>
                        <label class="aboutProduct">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro laborum,
                            recusandae, illum
                            eaque deserunt a quisquam reiciendis ullam exercitationem, aperiam mollitia ducimus facilis officia!
                            Dolore
                            temporibus laboriosam praesentium. Aut, repudiandae!</label>
                    </div>
                </div>
        
                <div class="productContainer">
                    <img src="../images/Artistic 2.jpg" class="productPhoto" id = "artistic2" onclick = "openModal();getPicture(this);changePhoto()">
                    <div class="productInfoContainer">
                        <label class="productName">Artistic 2</label>
                        <label class="productPrice">P1000</label>
                        <label class="aboutProduct">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro laborum,
                            recusandae, illum
                            eaque deserunt a quisquam reiciendis ullam exercitationem, aperiam mollitia ducimus facilis officia!
                            Dolore
                            temporibus laboriosam praesentium. Aut, repudiandae!</label>
                    </div>
                </div>
        
                <div class="productContainer">
                    <img src="../images/Artistic 3.jpg" class="productPhoto" id = "artistic3" onclick = "openModal();getPicture(this);changePhoto()">
                    <div class="productInfoContainer">
                        <label class="productName">Artistic 3</label>
                        <label class="productPrice">P1000</label>
                        <label class="aboutProduct">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro laborum,
                            recusandae, illum
                            eaque deserunt a quisquam reiciendis ullam exercitationem, aperiam mollitia ducimus facilis officia!
                            Dolore
                            temporibus laboriosam praesentium. Aut, repudiandae!</label>
                    </div>
                </div>
        
            </div>
        </div>

        <div id="HalloweenContainer">
            <div id="seasonLeftContainer">
                <span class="seasonText">Halloween</a>
            </div>
        
            <div class="comingsoon">
                <span class="comingsoonText">COMING SOON</span>
            </div>

        </div>

        <div id="ChristmasContainer">
            <div id="seasonRightContainer">
                <span class="seasonText">Christmas</a>
            </div>
        
            <div class="comingsoon">
                <span class="comingsoonText">COMING SOON</span>
            </div>
        
        </div>

            
    </section>

    {{> footer}}

    <script>
        var pictures;

        function openModal() {
            document.getElementById("imageViewer").style.display = "block";
        }

        function closeModal() {
            document.getElementById("imageViewer").style.display = "none";
        }

        function getPicture(element) {
            pictures = element.id
            console.log(pictures)
        }

        function changePhoto() {
            if(pictures == "blushBubble") {
                document.getElementById("imageViewOne").src = "../images/BlushBubble.jpg"
                document.getElementById("imageViewTwo").src = "../images/BlushBubble2.jpg"
            } else if(pictures == "citrusFoam") {
                document.getElementById("imageViewOne").src = "../images/CitrusFoam.jpg"
                document.getElementById("imageViewTwo").src = "../images/CitrusFoam2.jpg"
            } else if(pictures == "cuppaJava") {
                document.getElementById("imageViewOne").src = "../images/Cuppa\ Java.jpg"
                document.getElementById("imageViewTwo").src = "../images/Cuppa\ Java\ 2.jpg"
            } else if(pictures == "artistic1") {
                document.getElementById("imageViewOne").src = "../images/Artistic\ 1.jpg"
                document.getElementById("imageViewTwo").src = "../images/Artistic\ 1\ 2.jpg"
            } else if(pictures == "artistic2") {
                document.getElementById("imageViewOne").src = "../images/Artistic\ 2.jpg"
                document.getElementById("imageViewTwo").src = "../images/Artistic\ 2\ 2.jpg"
            } else if(pictures == "artistic3") {
                document.getElementById("imageViewOne").src = "../images/Artistic\ 3.jpg"
                document.getElementById("imageViewTwo").src = "../images/Artistic\ 3\ 2.jpg"
            }
        
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
        
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
                
            }
            
            slides[slideIndex - 1].style.display = "block";
        }

    </script>

</body>

</html>