@font-face {
    font-family: Hammock;
    src: url(../fonts/HAMMOCK-Black.otf);
}

* {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    height: 100vh;
}

nav {

    height: 80px;
    width: 100%;
    background-color: #F3DBCF;
}

label.logo {
    font-size: 40px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
    font-family: Hammock;
}

#logoFirstHalf {
    font-family: Hammock;
    color: #AAC9CE;
}

#logoSecondHalf {
    font-family: Hammock;
    color: #E5C1CD;
}

nav ul {
    float: right;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    padding: 10px;
    border-radius: 3px;
    font-size: 17px;
    text-transform: uppercase;
    color: black;
}

a.active,
a:hover {
    transition: .5s;
}

section {
    background-color: #FFFFFF;
}

@media(max-width: 700px) {
    nav ul li a {
        padding: 10px;
        border-radius: 3px;
        font-size: 6px;
        text-transform: uppercase;
        color: black;
    }
}

#topTitle
{
    font-size: 50px;
    font-weight: bold;
}

#topContainer
{
    width: 100%;
    margin: 10px;
    text-align: center;
}

#seasonSelectContainer
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.seasonText
{
    color: black;
    font-size: 20px;
}

#productPhotoContainer
{
    width : 100%;
    text-align: center;
    display:flex;
    justify-content: space-evenly;
}

.productPhoto
{
    border: 2px solid black
}

#productNameContainer
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.productContainer
{
    display: flex;
    flex-direction: column;
    height: 300px;
}

.productInfoContainer
{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}

.productPlay
{
    object-fit: contain;
    height: 20px;
    width: 30px
}

.playText
{   
    text-align: center;
    color:black;
    
}

.preview
{
    justify-content: center;
    align-items: center;
    display:flex;
}