@font-face {
    font-family: Hammock;
    src: url(/fonts/HAMMOCK-Black.otf);
}

* {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #FFFBEE;
}

section {
    background-color: #FFFBEE;
    height: 100%;
}

#homeContainer
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#homePicture
{
    cursor: pointer;
    animation: photo2 15s infinite;
    height: 100%;
    width: 100vw;
    object-fit: contain;
}

@keyframes photo2 {
        25% {
            content: url("/images/homePicture2.jpg");
            object-fit: contain;
        }
    
        50% {
            content: url("/images/homePicture1.jpg");
            object-fit: contain;
        }
    
        75% {
            content: url("/images/homePicture2.jpg");
            object-fit: contain;
        }
    
        100% {
            content: url("/images/homePicture1.jpg");
            object-fit: contain;
        }
}

#logoContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

#logoPicture
{
    width: auto;
    height: 300px;
}

#selfCarePicture
{
    margin-top: -50px;
    object-fit: contain;
    align-self: center;
    height: 150px;
    width: 150px;
}

#topFeatureProductContainer {
    width: 100%;
    margin: 10px;
    text-align: center;
}

#featureTitle
{
    font-size: 50px;
    font-weight: bold;
}

#productPhotoContainer {
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productPhoto {
    align-self: center;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}

#productNameContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.productContainer {
    display: flex;
    flex-direction: column;
    width: 33.33%
}

.productInfoContainer {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.aboutProduct {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    font-size: 14px;
}