@font-face {
    font-family: Hammock;
    src: url(/fonts/HAMMOCK-Black.otf);
}

* {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    overflow-x:hidden;
    background-color: #FFFBEE;
}

section {
    background-color: #FFFBEE;
}

@media(max-width: 700px) {
    nav ul li a {
        padding: 10px;
        border-radius: 3px;
        font-size: 6px;
        text-transform: uppercase;
        color: black;
    }
}

#topTitle
{
    font-size: 50px;
    font-weight: bold;
}

#topContainer
{
    width: 100%;
    margin: 10px;
    text-align: center;
}

#seasonLeftContainer
{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

#seasonRightContainer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: right;
}


.seasonText
{
    color: black;
    font-size: 50px;
    font-weight: bold;
}

#productPhotoContainer
{
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productPhoto
{
    align-self: center;
    text-align:  center;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}

#productNameContainer
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.productContainer
{
    display: flex;
    flex-direction: column;
    width: 33.33%
}

.productInfoContainer
{
    display: flex;
    flex-direction: column;
    height: 200px;
}

.aboutProduct
{
    justify-content: center;
    align-items: center;
    display:flex;
    padding: 20px;
    font-size: 14px;
}

.comingsoon
{
    text-align: center;
}

.comingsoonText
{
    font-size: 30px;
    font-family: bold;
}

#MilkTeaContainer
{
    background: linear-gradient(to right, #ddceba ,#eac99e , #ddceba, #e3c399);
    border-radius: 25px;
    margin: 80px 40px 40px 40px;
}

#blushBubble:hover
{
    animation: milktea1 15s infinite;
    cursor: pointer;
}

@keyframes milktea1 {
    
    25%{
        content: url("/images/BlushBubble2.jpg");
        width: 300px;
    }
    50%{
        content: url("/images/BlushBubble.jpg");
        width: 200px;
    }

    75%{
        content: url("/images/BlushBubble2.jpg");
        width: 300px;
    }

    100%{
        content: url("/images/BlushBubble.jpg");
        width: 200px;
    }
}

#citrusFoam:hover
{
    animation: milktea2 15s infinite;
    cursor: pointer;
}

@keyframes milktea2 {

    25% {
        content: url("/images/CitrusFoam2.jpg");
        width: 300px;
    }

    50% {
        content: url("/images/CitrusFoam.jpg");
        width: 200px;
    }

    75% {
        content: url("/images/CitrusFoam2.jpg");
        width: 300px;
    }

    100% {
        content: url("/images/CitrusFoam.jpg");
        width: 200px;
    }
}

#cuppaJava:hover {
    animation: milktea3 15s infinite;
    cursor: pointer;
}

@keyframes milktea3 {

    25% {
        content: url("/images/Cuppa\ Java\ 2.jpg");
        width: 300px;
    }

    50% {
        content: url("/images/Cuppa\ Java.jpg");
        width: 200px;
    }

    75% {
        content: url("/images/Cuppa\ Java\ 2.jpg");
        width: 300px;
    }

    100% {
        content: url("/images/Cuppa\ Java.jpg");
        width: 200px;
    }
}

#ArtisticContainer {
    background: linear-gradient(to right, #FFC3A0, #FFAFBD, #FECBC5, #F3A9C3 , #FBD489 );
    border-radius: 25px;
    margin: 40px;
    height: 33em;
}

#artistic1:hover {
    animation: artistic1 15s infinite;
    cursor: pointer;
}

@keyframes artistic1 {

    25% {
        content: url("/images/Artistic\ 1\ 2.jpg");
        width: 300px;
    }

    50% {
        content: url("/images/Artistic\ 1.jpg");
        width: 200px;
    }

    75% {
        content: url("/images/Artistic\ 1.jpg");
        width: 300px;
    }

    100% {
        content: url("/images/Artistic\ 1\ 2.jpg");
        width: 200px;
    }
}

#artistic2:hover {
    animation: artistic2 15s infinite;
    cursor: pointer;
}

@keyframes artistic2 {

    25% {
        content: url("/images/Artistic\ 2\ 2.jpg");
        width: 300px;
    }

    50% {
        content: url("/images/Artistic\ 2.jpg");
        width: 200px;
    }

    75% {
        content: url("/images/Artistic\ 2.jpg");
        width: 300px;
    }

    100% {
        content: url("/images/Artistic\ 2\ 2.jpg");
        width: 200px;
    }
}

#artistic3:hover {
    animation: artistic3 15s infinite;
    cursor: pointer;
}

@keyframes artistic3 {

    25% {
        content: url("/images/Artistic\ 3\ 2.jpg");
        width: 300px;
    }

    50% {
        content: url("/images/Artistic\ 3.jpg");
        width: 200px;
    }

    75% {
        content: url("images/Artistic\ 3.jpg");
        width: 300px;
    }

    100% {
        content: url("/images/Artistic\ 3\ 2.jpg");
        width: 200px;
    }
}
#HalloweenContainer {
    background: linear-gradient(to right, #FFC3A0, #FFAFBD, #FECBC5, #F3A9C3, #FBD489);
    border-radius: 25px;
    margin: 40px;
    height: 200px;
}

#ChristmasContainer {
    background: linear-gradient(to right, #FFC3A0, #FFAFBD, #FECBC5, #F3A9C3, #FBD489);
    border-radius: 25px;
    margin: 40px;
    height: 200px;
}

#imageViewer
{
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
}

.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.mySlides {
    display: none;
}

.modal-content {
    display: flex;
    flex-direction:row;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}


#imageViewOne
{
    align-self: center;
    text-align:  center;
    height: 600px;
    object-fit: contain;
    padding: 50px;
}

#imageViewTwo {
    align-self: center;
    text-align: center;
    height: 600px;
    object-fit: contain;
    padding: 50px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}


.prev,
.next {
    display:block;
    height: 100%;
    cursor: pointer;
    align-self: center;
    top: 50%;
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    border-radius: 10px 0 0 10px;
}

.next {
    margin-left: 50px;
    border-radius: 0 10px 10px 0;
}

.prev:hover,
.next:hover {
    background-color: #999;
}